/*poached from NICE beta site*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,500,600,700);


/* COLOR guide (not using SASS/LESS but why not prep)

$text-color: rgb(0,0,0);
$lines-low-light: rgb(233,233,233);
$lines-high-light: rgb(245,245,245);

text color is probably wrong due to anti-aliasing

$complete-color: rgb(59,95,67);
$removed-color: rgb(136,136,136);



*/

/*TODOS - refactor margins and paddings against a style guide*/




.todo-list,
.todo-list input {/*input is added to force inheritance if controls are used*/
	font-family: lato, arial, helvetica, verdana, sans-serif;
	color: rgb(0,0,0);
	font-size: 16px;
	background-color: transparent;
}
.todo-list fieldset {/*reset fieldsets to match other block elements*/
	border-width: 0;
	margin: 0;
	padding: 0;
}
.todo-list .todo-list-title {
	font-size: 44px;
	font-weight: 300;
	height: 70px;
	border-bottom: 2px solid rgb(245,245,245);
	width: 396px;
	margin-left: 2px;
	text-indent: -2px;/*bit cheeky*/
}
.todo-list .todos-add-new {
	padding: 30px 0 17px 52px;/* unpleasant numbers here - look into margins and padding on all elements etc*/
}
.todo-list .todo-input {
	margin: 1px;
	border-top: 2px solid rgb(233,233,233);
	border-bottom: 2px solid rgb(233,233,233);
	border-left: 1px solid rgb(245,245,245);
	border-right: 1px solid rgb(245,245,245);
	width: 269px;
	height: 27px;
	padding: 1px 7px;
}
.todo-list .todos {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 400px;
}
.lt-ie9 .todo-list li {
	list-style: none;
}
.todo-list .todo {
	height: 24px;
	position: relative;
	padding: 12px 53px;
}


.todo-list .descriptive {
	display: none;
}
.todo-list .todo-action,
.todo-list .todo-checkbox {
	width: 28px;
	height: 28px;
	border: 0;
	position: absolute;
	
}

.todo-list .todo-action {
	right: 4px;
	top: 12px;
	color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	display: none;
}
.todo-list .todo.incomplete:focus .todo-action,
.todo-list .todo.incomplete *:focus ~ .todo-action,
.todo-list .todo.incomplete .todo-action:focus,
.todo-list .todo.incomplete:hover .todo-action,
.todo-list .todo.active .todo-action {
	display: block;
	background-image: url(images/remove.png);
}
.todo-list .todo-checkbox {
	left: 10px;
	top: 10px;
	color: transparent;
}
.todo-list .todo-text {
	border-width: 0;
	width: 312px;	
}
.todo-list .removed .todo-text {
	text-decoration: line-through;
	color: rgb(136,136,136);
}
.todo-list .todo {
	background-image: url(images/disc.png);
	background-repeat: no-repeat;
	background-position: 10px 11px;
}
.todo-list .complete .todo-text {
	color: rgb(59,95,67);
}
.todo-list .complete {
	background-image: url(images/tick.png);
}
.todo-list .removed {
	background-image: url(images/cross.png);
}