/*poached from NICE beta site*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,500,600,700);


/* COLOR guide (not using SASS/LESS but why not prep)

$text-color: rgb(0,0,0);
$lines-low-light: rgb(233,233,233);
$lines-high-light: rgb(245,245,245);

text color is probably wrong due to anti-aliasing

$complete-color: rgb(59,95,67);
$removed-color: rgb(136,136,136);



*/

/*TODOS - refactor margins and paddings against a style guide*/

.todo-list,
.todo-list input {/*input is added to force inheritance if controls are used*/
	font-family: lato, arial, helvetica, verdana, sans-serif;
	color: rgb(0,0,0);
	font-size: 16px;
	background-color: transparent;
}
.todo-list input:focus {
	outline: 1px solid rgb(233,233,233);
}
.todo-list fieldset {/*reset fieldsets to match other block elements*/
	border-width: 0;
	margin: 0;
	padding: 0;
}
.todo-list .todo-list-title {
	font-size: 44px;
	font-weight: 300;
	height: 70px;
	border-bottom: 2px solid rgb(245,245,245);
	width: 396px;
	margin: 0 0 0 2px;
	padding: 0;
}
.todo-list .todos-add-new {
	padding: 30px 0 17px 52px;/* unpleasant numbers here - look into margins and padding on all elements etc*/

}
.lt-ie8 .todo-list .todos-add-new {
	padding-top: 10px;

}
.todo-list .todo-input,
.todo-list .todo-text {
	margin: 1px;
	border-top: 2px solid rgb(233,233,233);
	border-bottom: 2px solid rgb(233,233,233);
	border-left: 1px solid rgb(245,245,245);
	border-right: 1px solid rgb(245,245,245);
	width: 269px;
	height: 27px;
	padding: 1px 7px;
}
.lt-ie8 .todo-list .todo-input{
	height: 25px;
	width: 271px;
	padding: 3px 6px 0 6px;
	margin-top: 20px;
}
.todo-list .todos {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 400px;
}
.lt-ie9 .todo-list .todos > * {
	list-style: none;
}
.todo-list .todo {
	height: 36px;
	position: relative;
	padding: 6px 44px;
}

.todo-list .descriptive {
	display: none;
}
.todo-list .todo-action,
.todo-list .todo-checkbox {
	width: 28px;
	height: 28px;
	border: 0;
	position: absolute;
	
}

.todo-list .todo-action {
	right: 3px;
	top: 11px;
	background-repeat: no-repeat;
	background-position: center;
	display: none;
}

.todo-list .todo-action,
.todo-list .todo-checkbox {
	color: transparent;
}
.lt-ie9 .todo-list .todo-checkbox,
.lt-ie9 .todo-list .todo-action  {
 	font-size: 0;
}
.lt-ie8 .todo-list .todo-checkbox,
.lt-ie8 .todo-list .todo-action  {
 	padding-left: 100px;
}

/*this css handles the visibility of the action button
including ensuring that when the hover goes out but the action has been given keyboard focus
*/
.todo-list .todo-action:focus,
.todo-list .todo.incomplete:focus .todo-action,
.todo-list .todo.incomplete :focus ~ .todo-action,
.todo-list .todo.incomplete .todo-action:focus,
.todo-list .todo.incomplete:hover .todo-action,
.todo-list .todo.incomplete.hover .todo-action,/*allows us to force the hover state programatically*/
.lt-ie9 .todo-list .todo-action.iefocus,
.lt-ie9 .todo-list .todo.incomplete .iefocus ~ .todo-action,
.lt-ie9 .todo-list .todo.iefocus .todo-action {
	display: block;
	background-image: url(images/remove.png);
}
/*force remove button to be hidden when the item is removed*/
.todo-list .todo.removed .todo-action:focus,
.lt-ie9 .todo-list .todo.removed .todo-action.iefocus  {
	display:none;
}
.todo-list .todo-text,
.todo-list .todo-text:read-only:focus,
.todo-list .todo-text[readonly].iefocus
 {
	border-color: transparent;
	outline-width: 0;
}
.todo-list .todo.incomplete .todo-text:focus,
.lt-ie9 .todo-list .todo.incomplete .todo-text.iefocus {
	border-top-color: rgb(233,233,233);
	border-bottom-color: rgb(233,233,233);
	border-left-color: rgb(245,245,245);
	border-right-color: rgb(245,245,245);
}

.todo-list .todo-checkbox {
	left: 10px;
	top: 10px;
}


.todo-list .removed .todo-text {
	text-decoration: line-through;
	color: rgb(136,136,136);
}
.todo-list .todo {
	background-image: url(images/disc.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
}
.lt-ie9 .todo-list .todo {
	background-position: 10px 9px;
}
.todo-list .completed .todo-text {
	color: rgb(59,95,67);
}
.todo-list .completed {
	background-image: url(images/tick.png);
}
.todo-list .removed {
	background-image: url(images/cross.png);
}